global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "AIML-PROD"
    static_configs:
      - targets: ["172.236.187.68:9100"]

  - job_name: "AIML-Dashboard-chatapp-Stage"
    static_configs:
      - targets: ["172.236.164.19:9100"]

  - job_name: "Website-Dashboard-chatapp-Prod"
    static_configs:
      - targets: ["172.236.189.82:9100"]
