global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "vm1"
    static_configs:
      - targets: ["172.236.187.68:9100"]

  - job_name: "vm2"
    static_configs:
      - targets: ["172.236.164.19:9100"]

  - job_name: "vm3"
    static_configs:
      - targets: ["172.236.189.82:9100"]
