global:
  scrape_interval: 10s

scrape_configs:
  - job_name: "AIML-PROD"
    static_configs:
      - targets: ["172.236.187.68:9100"]

  - job_name: "AIML-Dashboard-chatapp-Stage"
    static_configs:
      - targets: ["172.236.164.19:9100"]

  - job_name: "Website-Dashboard-chatapp-Prod"
    static_configs:
      - targets: ["172.236.189.82:9100"]

  - job_name: "blackbox_http"
    metrics_path: /probe
    params:
      module: [http_2xx]   # Expect HTTP 200 OK
    static_configs:
      - targets:
        # === PROD ENV URLs ===
        - https://engageos.ai/
        - https://dashboard.engageos.ai/
        - https://chatapp.engageos.ai/
        - http://172.236.187.68:8081/
        - https://beapi.engageos.ai/
        
        # === NON-PROD / STAGE ENV URLs ===
        - https://stagedbchatapp.engageos.ai/
        - https://stagedb.engageos.ai/
        - https://beapistage.engageos.ai/
        - http://172.236.164.19:8081/
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115

  - job_name: "cadvisor"
    static_configs:
      - targets:
        - "172.236.187.68:8080"     # PROD VM
        - "172.236.164.19:8080"     # STAGE VM
        - "172.236.189.82:8080"     # PROD VM 2 (if needed)

  - job_name: "logporter"
    static_configs:
      - targets:
        - "172.236.187.68:9333"
        - "172.236.164.19:9333"
        - "172.236.189.82:9333"
